header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}
#logo{
    height: 150px;
    width: 150px;
    margin-right: 50px;
}
#name{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul ul{
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav{
    margin: 0 auto;
    text-align: center;
}
nav ul{
    background-color: var(--details-color);
    background: linear-gradient(top, #ff00a9 0%, var(--border-color) 100%);
    background: -moz-linear-gradient(top, #ff00a9 0%, var(--border-color) 100%);
    background: -webkit-linear-gradient(top,#fcb2f1 0%, #f1c9cc 100%);
    box-shadow: 0px 0px 9px rgba(252, 178, 241, 1);
    padding: 0px 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}
nav ul::after{
    content: "";
    clear: both;
    display: block;
}
nav ul li{
    float: left;
}
nav ul li:hover{
    background-color: var(--border-color);
    background: linear-gradient(top, #4f5964 0%, #ff00a9 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #ff00a9 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#ff00a9 40%);
}
nav ul li a{
    display: block; 
    padding: 15px 20px;
    color: #757575; 
    text-decoration: none;
}
nav ul li:hover a{
    color: white;
}
nav ul ul{
    background-color: #ff00a9;
    border-radius: 0px;
    position: absolute;
    top: 100%;
}
nav ul ul li{
    float: none;
    border-top: 1px solid #f0a0e4;
}
nav ul ul li a{
    padding: 15px 20px;
    color: #757575; 
}
nav ul ul li a:hover {
    background: var(--details-color);
}